@import 'variables.scss';

html {
  background: url(images/truck.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.5;
}

h1 {
  color: blue;
}
