.title h1 {
  margin-top: 1em;
  color: #fff;
  text-shadow: 1px 2px 1px #333;
  font-size: 3em; }
.title h2 {
  color: #fff;
  text-shadow: 1px 2px 1px #222;
  margin-top: 0;
  padding-top: 30px; }
.title p {
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  color: #ccc;
  text-shadow: 1px 1px 1px #000;
  font-size: .7rem;
  word-spacing: -0.5px;
  font-weight: 900; }

.header-section {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(20, 0, 0, 0.2)), url(images/poboys.JPG);
  background-repeat: no-repeat;
  background-position-y: 38%;
  background-size: cover;
  height: 300px; }

.header-name {
  vertical-align: top;
  margin-top: 10px; }

.header-logo {
  opacity: 1;
  width: 30px;
  margin-top: -5px;
  padding-right: 5px; }

.nav-bar {
  text-align: right;
  float: right;
  margin-top: 10px;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 10%; }

.nav-links, .nav-links div {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0; }
  .nav-links a, .nav-links div a {
    text-shadow: 1px 2px 1px #000; }

/* Media Queries */
@media (max-width: 570px) {
  .nav-bar {
    position: absolute;
    left: 13px;
    min-width: 100%; }

  .title {
    position: absolute;
    left: 29px;
    margin-left: 0; } }
@media (max-width: 500px) {
  .nav-bar a {
    font-size: .75em; } }
@media (max-width: 420px) {
  .nav-bar {
    margin-left: 10%; }
    .nav-bar li {
      min-width: 25%;
      text-align: left; }
      .nav-bar li a {
        font-size: .75em; }
    .nav-bar .nav-links {
      float: left;
      display: inline-block; }

  .title {
    text-align: center; }
    .title h1 {
      margin-top: 10px;
      font-size: 2.5em;
      line-height: 50px; }
    .title h2 {
      margin-top: 25px;
      margin-bottom: 10px;
      font-size: 1.3em; }
    .title p {
      text-align: center; } }
@media (max-width: 270px) {
  .nav-bar {
    margin-left: -1%; }
    .nav-bar li {
      min-width: 20%; }

  .title {
    margin-left: -30px;
    padding: 0 20px; } }
main section h1 {
  color: #083451;
  text-shadow: none; }

.menu article {
  display: flex;
  flex-wrap: wrap; }
  .menu article div {
    width: 200px;
    margin-right: 7%; }
    .menu article div p {
      font-size: .4rem;
      margin-left: 5px;
      width: 150px; }
.menu h2 {
  margin-bottom: 10px;
  text-decoration: underline;
  font-weight: 900;
  text-align: center; }
.menu table {
  margin: 0;
  min-width: 200px; }
  .menu table th {
    text-decoration: underline; }
  .menu table td {
    font-size: .6em;
    padding-bottom: 5px; }
    .menu table td span {
      font-size: .7em;
      font-weight: 200; }
.menu div .img {
  height: 100px;
  min-height: 100px;
  border-radius: 10px;
  margin-left: 25%;
  position: static; }
.menu div .img-wide {
  margin-left: 18%; }
.menu div .img-slim {
  margin-left: 33%; }

body {
  font-family: 'Open Sans', serif;
  color: #083451;
  margin: 0; }

h1, h2 {
  font-family: 'Oswald'; }

p, li, a {
  font-family: 'Open Sans'; }

ul li {
  padding: 0 10px;
  margin: 0 5px; }

a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 500; }

section {
  margin-left: 5%;
  text-align: left;
  font-family: 'Open Sans'; }
  section h1 {
    margin-bottom: 0;
    font-size: 2em; }
  section p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: .7rem;
    word-spacing: -0.5px;
    font-weight: 900; }

/*# sourceMappingURL=main.css.map */
