@import 'variables.scss';

body {
  margin: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/shrimp.jpeg) no-repeat center center;
  position: static;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
  height: 700px;
  // padding-top: 50px;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  height: 50px;
}

h1, h2, a, .nav-link {
  color: #fff;
  text-decoration: none;
  text-align: center;
}

ul {
  margin-top: 0;
  background-color: #000;
  padding: 10px;
  list-style-type: none;
  display: flex;
}

.nav-link {
  padding: 15px;
  font-size: larger;
  a {
    margin: 0 35px;
  }
}

.title {
  margin: 0;
  h1, h2, h6 {
    color: #fff;
    text-decoration: none;
    text-align: center;
  }
  h6 {
    text-align: left;
  }
}

.sub-title {
  margin: 0 3rem;
  padding-left: 30%;
  h6 {
    color: #fff;
    font-weight: normal;
    text-decoration: none;
    text-align: left;
    padding: 0 30px 5px 0;
    margin: 0;
  }
}

.section-break {
  margin-top: 65px;
}

.menu {
  background: url(images/ATX_Boudain_Menu.png) no-repeat;
  background-size:contain;
  height: 1500px;
  margin: 0;
}
