@import 'variables.scss';

body {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0)), url(images/shrimp.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, a, .collection {
  color: #F6DF81;
  text-decoration: none;
  text-align: center;
  background-color: #0007B2;

}
