.title {
  margin-left: 5%; }
  .title h1 {
    margin-top: 1em;
    color: #fff;
    text-shadow: 1px 4px 1px #333;
    font-size: 5.3em; }
  .title h2 {
    color: #fff;
    text-shadow: 1px 4px 1px #222;
    margin-top: 0;
    padding-top: 60px;
    font-size: 2.7em; }
  .title p {
    text-align: left;
    color: #ccc;
    text-shadow: 1px 2.5px 1px #000;
    font-size: 1.3rem;
    word-spacing: -0.5px; }

.header-section {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(20, 0, 0, 0.2)), url(images/poboys.JPG);
  background-repeat: no-repeat;
  background-position-y: 38%;
  background-size: cover;
  height: 525px; }

.nav-bar {
  text-align: right;
  float: right;
  margin-top: 17.5px;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 10%;
  z-index: 10; }

.nav-links, .nav-links div {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0; }
  .nav-links a, .nav-links div a {
    text-shadow: 1px 3.5px 1px #000;
    color: white;
    transition: .2s; }
    .nav-links a:hover, .nav-links div a:hover {
      color: #E2AE28;
      transition: .1s; }

/* Media Queries */
@media (max-width: 1025px) {
  .nav-bar {
    position: absolute;
    left: 20px; }

  .title {
    position: absolute;
    left: 50px;
    margin-left: 0; } }
@media (max-width: 900px) {
  .nav-bar a {
    font-size: 1.25em; } }
@media (max-width: 750px) {
  .nav-bar {
    margin-left: 10%; }
    .nav-bar li {
      min-width: 25%;
      text-align: left; }
      .nav-bar li a {
        font-size: 1.3em; }
    .nav-bar .nav-links {
      float: left;
      display: inline-block; }

  .title {
    text-align: center; }
    .title h1 {
      margin-top: 17.5px;
      font-size: 4.5em;
      line-height: 75px; }
    .title h2 {
      margin-top: 40px;
      margin-bottom: 17.5px;
      font-size: 2em; }
    .title p {
      text-align: center; } }
@media (max-width: 500px) {
  .nav-bar {
    margin-left: -7%; }
    .nav-bar ul {
      width: 100%;
      margin-left: 5%; }
    .nav-bar li {
      min-width: 20%; }

  .title {
    margin-left: -50px;
    padding: 50px 20px; } }
main section {
  padding: 0 5%; }
  main section h1 {
    color: #083451;
    text-shadow: none; }

.menu article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 999999px;
  padding-bottom: 50px; }
  .menu article div ul {
    margin: 0;
    font-size: .7rem;
    width: 300px;
    padding-left: 30px; }
    .menu article div ul li {
      line-height: 20px;
      padding-left: 0px;
      margin-right: 0px;
      padding-right: 0px; }
.menu h2 {
  margin-bottom: 17.5px;
  text-decoration: underline;
  font-weight: 900;
  text-align: center;
  font-size: 2.8em; }
.menu table {
  width: 370px; }
  .menu table tr {
    font-size: 1.85em; }
  .menu table th {
    text-decoration: underline; }
    .menu table th:first-child {
      width: 85%; }
  .menu table .half {
    padding-right: 20px; }
  .menu table td {
    font-size: .7em;
    padding-bottom: 5px; }
    .menu table td span {
      font-size: .7em;
      font-weight: 200; }
.menu div .img {
  height: 175px;
  min-height: 175px;
  border-radius: 10px;
  margin-left: 25%;
  position: static;
  box-shadow: 5px 3px 10px lightgray; }
.menu div .img-wide {
  margin-left: 18%; }
.menu div .img-slim {
  margin-left: 33%; }
.menu div .filter {
  -webkit-filter: contrast(120%);
  filter: contrast(120%); }
.menu aside {
  text-align: left;
  margin: 0 5% 0 0;
  border-top: 1px dotted black;
  width: 100%;
  overflow: hidden; }
  .menu aside .list .services {
    display: flex;
    float: left;
    flex-direction: column;
    flex-basis: 4; }
  .menu aside h2 {
    text-align: left; }
  .menu aside a {
    float: left;
    width: auto;
    display: table;
    margin: 5px 40px;
    text-decoration: underline;
    color: #FF8C02;
    text-shadow: 1px 1px 2px #1D1403;
    transition: .2s; }
    .menu aside a:hover {
      color: #592684;
      transition: 0s; }

@media (max-width: 820px) {
  .menu article {
    justify-content: center; } }
@media (max-width: 450px) {
  .menu article table {
    width: 370px;
    font-size: .85em; } }
#catering {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(20, 0, 0, 0.2)), url(images/balls.jpeg);
  background-repeat: no-repeat;
  background-position-y: 16%;
  background-size: cover;
  background-attachment: fixed;
  display: flex; }
  #catering div {
    background: white;
    width: 422px;
    text-align: center;
    max-height: 999999px;
    margin: 20px;
    margin-right: 40px;
    border: 1px solid black; }
    #catering div .border-box {
      margin: 10px;
      border: 1px solid black;
      width: 400px;
      min-height: 498px;
      box-sizing: content-box; }
      #catering div .border-box.to-go {
        min-height: 260px; }
    #catering div.to-go-container {
      height: 280px; }
  #catering h1 {
    margin: 0; }
  #catering p {
    padding: 15px;
    font-size: 1.5em;
    z-index: 10;
    border-top: 1px solid black;
    box-sizing: border-box; }
    #catering p strong {
      text-decoration: underline; }
  #catering .ordering {
    display: flex;
    flex-direction: column; }
  #catering a {
    color: #FF8C02;
    margin: 6px;
    text-shadow: 1px 1px 2px #1D1403;
    transition: .2s; }
    #catering a:first-child {
      margin-top: .7em; }
    #catering a:hover {
      color: #592684;
      transition: 0s; }
  #catering img {
    margin: 15% 5%;
    width: 200px; }

@media (max-width: 1000px) {
  #catering {
    padding: 0 20px;
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink: 1; }
    #catering div {
      margin: 20px;
      width: 372px;
      padding-right: 10px; }
      #catering div .border-box {
        padding: 0;
        width: 360px;
        margin: 10px; }
    #catering p {
      line-height: 35px;
      margin-right: 0; }
    #catering .image-box, #catering img {
      display: none; } }
#location {
  background: white; }
  #location strong {
    font-weight: bolder;
    text-decoration: underline; }
  #location p {
    color: #052D48;
    max-width: 95%; }
  #location h1 {
    color: #052D48;
    margin-bottom: 42.5px; }
  #location a {
    font-size: 1em;
    text-decoration: underline;
    text-shadow: 0.5px 0.5px 1px #1D1403;
    color: #FF8C02;
    transition: .2s; }
    #location a:hover {
      color: #592684;
      transition: 0s; }
  #location div {
    margin-bottom: 40px; }

#about {
  background: #EFEFEF; }
  #about h4 {
    font-size: 2em;
    margin-bottom: 0;
    text-decoration: underline; }
  #about p {
    max-width: 1200px;
    min-width: 350px; }
    #about p:last-child {
      padding-bottom: 40px; }

@media (max-width: 1300px) {
  #about p {
    max-width: 95%; } }
#contact {
  padding: 0 0 50px 5%;
  background: #000;
  display: flex; }
  #contact div {
    padding-top: 30px;
    text-align: center;
    display: block;
    font-size: 1.3em;
    min-width: 32%; }
  #contact h4 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #fff; }
  #contact p, #contact a {
    color: #fff;
    font-weight: 200;
    text-align: center;
    font-size: 1.1em;
    line-height: 40px; }
  #contact .fa {
    transition: .2s;
    font-size: 2em;
    margin: 10px; }
    #contact .fa:hover {
      color: #E2AE28;
      transition: none; }

@media (max-width: 900px) {
  #contact {
    padding-left: 0;
    display: block; } }
#footer {
  background: #000;
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: center; }
  #footer p {
    font-size: .7em;
    margin: 0;
    color: gray; }
    #footer p a {
      color: inherit;
      font-size: inherit; }

@-ms-viewport {
  width: 480px; }
body {
  font-family: 'Open Sans', serif;
  color: #083451;
  margin: 0; }

h1, h2 {
  font-family: 'Oswald'; }

p, li, a, strong {
  font-family: 'Open Sans';
  font-weight: 900;
  line-height: 35px; }

ul li {
  padding: 0 20px;
  margin: 0 10px; }

a {
  text-decoration: none;
  font-size: 1.7rem; }

section {
  padding-left: 5%;
  text-align: left;
  font-family: 'Open Sans';
  padding: 50px 0; }
  section h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3.5em; }
  section p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.1rem;
    word-spacing: -0.5px;
    font-weight: 900; }

#map {
  margin-top: 20px;
  height: 300px;
  width: 500px; }

@media (max-width: 555px) {
  #map {
    width: 95%; } }

/*# sourceMappingURL=main.css.map */
