#about {
  background: #EFEFEF;
  h4 {
    font-size: 2em;
    margin-bottom: 0;
    text-decoration: underline;
  }
  p {
    max-width: 1200px;
    min-width: 350px;
    &:last-child {padding-bottom: 40px;}
  }
}

@media (max-width: 1300px) {
  #about p {max-width: 95%;}
}
