#about {
  background: #EFEFEF;
  h1 {
  }
  h4 {
    font-size: 2em;
    margin-bottom: 0;
  }
  p {
    max-width: 50%;
    min-width: 350px;
  }
}

@media (max-width: 900px) {
  #about {
    p {
      max-width: 95%;
    }
  }
}
