#catering {
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(20, 0, 0, 0.2)), url(images/balls.jpeg);
  background-repeat: no-repeat;
  background-position-y: 16%;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  div {
    background: white;
    width: 422px;
    text-align: center;
    max-height: 999999px;
    margin: 20px;
    margin-right: 40px;
    border: 1px solid black;
    .border-box {
      margin: 10px;
      border: 1px solid black;
      width: 400px;
      min-height: 498px;
      box-sizing: content-box;
      &.to-go {
        min-height: 260px;
      }
    }
    &.to-go-container {
      height: 280px;
      // align-self: center;
    }
  }

  h1 {margin: 0;}
  p {
    padding: 15px;
    font-size: 1.5em;
    z-index: 10;
    border-top: 1px solid black;
    box-sizing: border-box;
    strong {text-decoration: underline;}
  }
  .ordering {
    display: flex;
    flex-direction: column;
  }
  a {
    color: #FF8C02;
    margin: 6px;
    text-shadow: 1px 1px 2px #1D1403;
    transition: .2s;
    &:first-child {margin-top: .7em;}
    &:hover {
      color: #592684;
      transition: 0s;
    }
  }
  img {
    margin: 15% 5%;
    width: 200px;
  }
}

@media (max-width: 1000px) {
  #catering {
    padding: 0 20px;
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink: 1;
    div {
      margin: 20px;
      width: 372px;
      padding-right: 10px;
      .border-box {
        padding: 0;
        width: 360px;
        margin: 10px;
      }
    }
    p {
      line-height: 35px;
      margin-right: 0;
    }
    .image-box, img {display: none;}
  }
}
