#catering {
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(20, 0, 0, 0.2)), url(images/balls.jpeg);
  background-repeat: no-repeat;
  background-position-y: 16%;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  div {
    background: white;
    width: 420px;
    min-width: 340px;
    text-align: center;
    max-height: 999999px;
    margin: 0;
    margin-right: 40px;
    .border-box {
      margin: 10px;
      border: 1px solid black;
      width: 95%;
      min-height: 498px;
      box-sizing: content-box;
    }
  }

  h1 {
    margin: 0;
  }
  p {
    padding: 15px;
    font-size: 1.5em;
    z-index: 10;
    border-top: 1px solid black;
    box-sizing: border-box;
    span {
    }
    strong {
      text-decoration: underline;
    }
  }
  .ordering {
    display: flex;
    flex-direction: column;
  }
  a {
    color: #FF8C02;
    margin: 6px;
    text-shadow: 1px 1px 2px #1D1403;
    transition: .2s;
    &:hover {
      color: #592684;
      transition: 0s;
    }
  }
  img {
    margin: 15% 5%;
    width: 200px;
  }
}

@media (max-width: 900px) {
  #catering {
    display: block;
    div {
      margin: 20px 0 0 0;
      padding: 5px;
      .border-box {
        padding: 0;
        margin: 5px;
        width: 97%;
      }
    }
    p {
      line-height: 35px;
      margin-right: 0;
    }
    .image-box, img {
      display: none;
    }
  }
}


@media (max-width: 500px) {
  #catering {
    div {
      width: 93%;
    }
  }
}
