#contact {
  padding: 50px 0 100px 10%;
  background: #000;
  display: flex;
  div {
    padding-top: 30px;
    text-align: center;
    display: block;
    min-width: 30%;
  }
  h4 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
    margin-top: 20px;
    color: #fff;
  }
  p, a {
    color: #fff;
    font-weight: 200;
    text-align: center;
    font-size: .9em;
    line-height: 25px;
  }
  .fa {
    transition: .2s;
    font-size: 2em;
    margin: 10px;
    &:hover {
      color: #E2AE28;
      transition: none;;
    }
  }
}

@media (max-width: 900px) {
  #contact {
    padding-left: 0;
    display: block;
  }
}
