.title {
  margin-left: 5%;
  h1 {
    margin-top: 1em;
    color: #fff;
    text-shadow: 1px 4px 1px #333;
    font-size: 5.3em;
  }
  h2 {
    color: #fff;
    text-shadow: 1px 4px 1px #222;
    margin-top: 0;
    padding-top: 60px;
    font-size: 2.7em;
  }
  p {
    text-align: left;
    color: #ccc;
    text-shadow: 1px 2.5px 1px #000;
    font-size: 1.3rem;
    word-spacing: -0.5px;
  }
}

.header-section {
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(20, 0, 0, 0.2)), url(images/poboys.JPG);
  background-repeat: no-repeat;
  background-position-y: 38%;
  background-size: cover;
  height: 525px;
}

.nav-bar {
  text-align: right;
  float: right;
  margin-top: 17.5px;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 10%;
  z-index: 10;
}

.nav-links, .nav-links div {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  a {
    text-shadow: 1px 3.5px 1px #000;
    color: white;
    transition: .2s;
    &:hover {
      color: #E2AE28;
      transition: .1s;
    }
  }
}

/* Media Queries */

@media (max-width: 1025px) {
  .nav-bar {
    position: absolute;
    left: 20px;
  }

  .title {
    position: absolute;
    left: 50px;
    margin-left: 0;
  }
}

@media (max-width: 900px) {
  .nav-bar a {
    font-size: 1.25em;
  }
}


@media (max-width: 750px) {
  .nav-bar {
    margin-left: 10%;
    li {
      min-width: 25%;
      text-align: left;
      a {
        font-size: 1.3em;
      }
    }
    .nav-links {
      float: left;
      display: inline-block;
    }
  }

  .title {
    text-align: center;
    h1 {
      margin-top: 17.5px;
      font-size: 4.5em;
      line-height: 75px;

    }
    h2 {
      margin-top: 40px;
      margin-bottom: 17.5px;
      font-size: 2em;
    }
    p {
      text-align: center;
    }
  }
}

@media (max-width: 500px) {
  .nav-bar {
    margin-left: -7%;
    ul {
      width: 100%;
      margin-left: 5%;
    }
    li {
      min-width: 20%;
    }
  }
  .title {
    margin-left: -50px;
    padding: 0 20px;
  }
}
