.title {
  h1 {
    margin-top: 1em;
    color: #fff;
    text-shadow: 1px 2px 1px #333;
    font-size: 3em;
  }
  h2 {
    color: #fff;
    text-shadow: 1px 2px 1px #222;
    margin-top: 0;
    padding-top: 30px;
  }
  p {
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    color: #ccc;
    text-shadow: 1px 1px 1px #000;
    font-size: .7rem;
    word-spacing: -0.5px;
    font-weight: 900;
  }
}

.header-section {
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(20, 0, 0, 0.2)), url(images/poboys.JPG);
  background-repeat: no-repeat;
  background-position-y: 38%;
  background-size: cover;
  height: 300px;
}

.header-name {
  vertical-align: top;
  margin-top: 10px;
}

.header-logo {
  opacity: 1;
  width: 30px;
  margin-top: -5px;
  padding-right: 5px;
}

.nav-bar {
  text-align: right;
  float: right;
  margin-top: 10px;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 10%;
}

.nav-links, .nav-links div {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  a {
    text-shadow: 1px 2px 1px #000;
  }
}

/* Media Queries */

@media (max-width: 570px) {
  .nav-bar {
    position: absolute;
    left: 13px;
    min-width: 100%;
  }

  .title {
    position: absolute;
    left: 29px;
    margin-left: 0;
  }
}

@media (max-width: 500px) {
  .nav-bar a {
    font-size: .75em;
  }
}


@media (max-width: 420px) {
  .nav-bar {
    margin-left: 10%;
    li {
      min-width: 25%;
      text-align: left;
      a {
        font-size: .75em;
      }
    }
    .nav-links {
      float: left;
      display: inline-block;
    }
  }

  .title {
    text-align: center;
    h1 {
      margin-top: 10px;
      font-size: 2.5em;
      line-height: 50px;

    }
    h2 {
      margin-top: 25px;
      margin-bottom: 10px;
      font-size: 1.3em;
    }
    p {
      text-align: center;
    }
  }
}

@media (max-width: 270px) {
  .nav-bar {
    margin-left: -1%;
    li {
      min-width: 20%;
    }
  }
  .title {
    margin-left: -30px;
    padding: 0 20px;
  }
}
