#location {
  background: white;
  strong {
    font-weight: bolder;
    text-decoration: underline;
  }
  p {
    color: #052D48;
    max-width: 95%;
  }
  h1 {
    color: #052D48;
    margin-bottom: 42.5px;
  }
  a {
    font-size: 1em;
    text-decoration: underline;
  }
}
