#location {
  background: white;
  strong {
    font-weight: bolder;
    text-decoration: underline;
  }
  p {
    color: #052D48;
    max-width: 95%;
  }
  h1 {
    color: #052D48;
    margin-bottom: 42.5px;
  }
  a {
    font-size: 1em;
    text-decoration: underline;
    text-shadow: 0.5px 0.5px 1px #1D1403;
    color: #FF8C02;
    transition: .2s;
    &:hover {
      color: #592684;
      transition: 0s;
    }
  }
}
