@import 'header';
@import 'menu';
@import 'catering';
@import 'about';
@import 'contact';

body {
  font-family: 'Open Sans', serif;
  color: #083451;
  margin: 0;
}

h1, h2 {
  font-family: 'Oswald';
}

p, li, a {
  font-family: 'Open Sans';
}

ul li {
  padding: 0 20px;
  margin: 0 10px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.7rem;
  font-weight: 900;
}

section {
  margin-left: 5%;
  text-align: left;
  font-family: 'Open Sans';
  h1 {
    margin-bottom: 0;
    font-size: 3.5em;
  }
  p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.1rem;
    word-spacing: -0.5px;
    font-weight: 900;
  }
}

#map {
 height: 300px;
 width: 30%;
}
