main section {
  padding-left: 5%;
  h1 {
    color: #083451;
    text-shadow: none;
  }
}

.menu {
  article {
    display: flex;
    flex-wrap: wrap;
    div {
      margin-right: 3.5%;
      flex-basis: 22%;
      p {
        font-size: .7rem;
        margin-left: 25px;
        width: 250px;
      }
    }
  }
  h2 {
    margin-bottom: 17.5px;
    text-decoration: underline;
    font-weight: 900;
    text-align: center;
    font-size: 2.8em;
  }
  table {
    min-width: 355px;
    margin-left: 5%;
    tr {
      font-size: 1.85em;
    }
    th {
      text-decoration: underline;
    }
    td {
      font-size: .55em;
      padding-bottom: 7.5px;
      span {
        font-size: .7em;
        font-weight: 200;
      }
    }
  }

  div {
    .img {
      height: 175px;
      min-height: 175px;
      border-radius: 10px;
      margin-left: 25%;
      position: static;
      box-shadow: 5px 3px 10px lightgray;
    }
    .img-wide {
      margin-left: 18%;
    }
    .img-slim {
      margin-left: 33%;
    }
    .filter {
      -webkit-filter: contrast(120%);
      filter: contrast(120%);
    }
  }
}

@media (min-width: 1780px) {
  .menu article h2 {margin-right: 1%;}
}

@media (min-width: 1820px) {
  .menu article h2 {margin-right: 3%;}
}

@media (min-width: 1850px) {
  .menu article h2 {margin-right: 5%;}
}
